*{margin:0;padding:0;}
*{box-sizing: border-box;}

.window{
  width: 500px;
  height: 300px;
  margin: 20px auto;
  overflow: hidden;
}
.images{
  display: flex;
  transition: all 1s;
}
.images > img{
  height:100%
}
.container{
  text-align:center;
  width: 130px;
  height: 50px;
  overflow: hidden;
  margin: 0 auto;
}